<ion-header>
  <ion-toolbar>
    <ion-title>
      LAPTOP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col align-self-center size-md="4" size-lg="4" size-xs="4">
      <img src="/assets/21.jpg" alt="">
    </ion-col>
	<ion-col>
	<ion-label>ASUS ROG Strix GL503GD</ion-label>
	<div><ion-label>Rp 14.999.000,00</ion-label></div>
	</ion-col>
	</ion-row>
	</ion-grid>
	
<ion-grid>
  <ion-row>
    <ion-col align-self-center size-md="4" size-lg="4" size-xs="4">
      <img src="/assets/22.jpg" alt="">
    </ion-col>
	<ion-col>
	<ion-label>ASUS ROG GL503GE</ion-label>
	<div><ion-label>Rp 18.250.000,00</ion-label></div>
	</ion-col>
	</ion-row>
	</ion-grid>
	
<ion-grid>
  <ion-row>
    <ion-col align-self-center size-md="4" size-lg="4" size-xs="4">
      <img src="/assets/23.jpg" alt="">
    </ion-col>
	<ion-col>
	<ion-label>ASUS ROG GL552JX</ion-label>
	<div><ion-label>Rp 10.650.000,00</ion-label></div>
	</ion-col>
	</ion-row>
	</ion-grid>
	
	
</ion-content>
